body {
  background-color: gray;
  margin: 0;
}

.flex__example {
  height: 100vh;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex__heading {
  font-size: 20px;
  margin-bottom: 2px;
  margin-left: -1000px;
}

.container {
  background-color: #370617;
  position: relative;
  width: 1152px;
  height: 700px;
  padding: 20px 20px;
  display: flex;
  flex-wrap: wrap;
  /*
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;

    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: stretch;
    align-items: baseline;

    flex-direction: column; 
    flex-direction: column-reverse;
    flex-direction: row;
    flex-direction: row-reverse;



    */
}

.card1 {
  background-color: #f48c06;
  border-radius: 8px;
  width: 500px;
  height: 160px;
  margin: 20px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
}
.card2 {
  background-color: #f48c06;
  border-radius: 8px;
  width: 500px;
  height: 160px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card3 {
  background-color: #f48c06;
  border-radius: 8px;
  width: 500px;
  height: 160px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.card4 {
  background-color: #f48c06;
  border-radius: 8px;
  width: 500px;
  height: 160px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  justify-items: flex-start;
}
.card5 {
  background-color: #f48c06;
  border-radius: 8px;
  width: 500px;
  height: 160px;
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.card6 {
  background-color: #f48c06;
  border-radius: 8px;
  width: 500px;
  height: 160px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first {
  background-color: #9d0208;
  border-radius: 4px;
  width: 80px;
  height: 80px;
  order: -1;
}

.middle {
  background-color: #9d0208;
  border-radius: 4px;
  width: 80px;
  height: 80px;
  order: 0;
}

.last {
  background-color: #9d0208;
  border-radius: 4px;
  width: 80px;
  height: 80px;
  order: 1;
}

.card4.last {
  align-self: flex-end;
}

.card6.middle {
  flex-grow: 1.5;
}

.carda {
  background-color: black;
  border-radius: 2px;
  width: 275px;
  height: 275px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.cardb {
  background-color: #6a040f;
  border-radius: 2px;
  width: 275px;
  height: 275px;
  margin: 20px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
}
.cardc {
  background-color: black;
  border-radius: 2px;
  width: 275px;
  height: 275px;
  margin: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cardd {
  background-color: #6a040f;
  border-radius: 2px;
  width: 275px;
  height: 275px;
  margin: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.carde {
  background-color: black;
  border-radius: 2px;
  width: 275px;
  height: 275px;
  margin: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.circle {
  background-color: #748cab;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 10px;
}
